// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form  {
  font-size: 32px;
}

h1 {

}

#you {
  font-size: 24px;
  border-left: 3px solid lightgrey;
}

#coach {
  font-size: 24px;
  border-left: 3px solid lightgrey;
  background-color: lightyellow;

}

#link {
  font-size: 24px;
  border-left: 3px solid lightgrey;

}
